$maxWidth           : 1200px !default;
$lUnit              : .5rem !default;
$gap                : $lUnit * 4 !default;  // 2rem
$maxGridColumns     : 12 !default;

$breakpoints : (
    s : 0,
    m : 640px,
    l : 1024px,
    lg : 1024px,
    xl : 1440px
);
$sizes: map-keys($breakpoints);

//
$cssCore: false !default;
$classPrefix: 'Sn' !default;

// Control size
$controlHeight: 34px;
$controlHeightSm: 26px;
$controlHeightLg: 42px;

$borderRadiusBase: 4px;
@import "color";

:root{
  --gap: #{$lUnit * 2};  // 1rem
}