.Console{
  font-family: monospace;
  &-error{
    color: #DC5370;
  }
  &-warning{
    color: #FFB053;
  }
  &-success{
    color: #A5E88D;
  }
}

.InfiniteList {
  /* We need to limit the height and show a scrollbar */
  height: 300px;
  overflow: auto;
}

#ScanUpdates {
  list-style: none;
  margin: 0;
  background: var(--snColorDark);
  color: #F8F8F2;
  padding: 16px;
  border-radius: 5px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}