#invoiceFormTemplateContainer{
  min-height: 500px;
}

.Invoice{
  &-body,
  &-footer,
  &-send,
  &-header{
    border-top: 1px dashed var(--snColorBorder);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &-top{
    display: flex;
    margin-bottom: 1rem;
    & > div {
      margin-right: 1rem;
    }
  }
  &-header{
    //padding-top: 1rem;
    padding-bottom: 3rem;
  }
  &-body{

  }
  &-footer{

  }
  &-send{
    //padding-top: 2rem;
    //margin-top: 2rem;
  }

  &-totals{
    width: 100%;
    border-collapse: collapse;
    th{
      text-align: left;
    }
    td,
    th{
      border-top: 1px solid var(--snColorBorder);
      padding: .7rem;
    }
  }
}

.InvoiceFooter{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 1rem;
  &-item{
    grid-column-start: 1;
    grid-column-end: 7;
  }
  &-total{
    grid-column-start: 8;
    grid-column-end: 13;
  }
}

.InvoiceTotal{
  display: flex;
  justify-content: space-between;
  &-amount{
    color: var(--snColorTextAlt);
  }
}


.InvoiceConfirm{
  &-table{
    margin-bottom: 16px;
    td{
      padding: 0;
    }
  }
  &-action{
    cursor: pointer;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    [class*="icon"]{
      font-size: 2rem;
      margin-bottom: .5rem;
    }
  }
}

.InvoiceTable{
  &-refer{
    color: var(--snColorTextAlt);
    font-size: 0.85em;
    display: flex;
    align-items: center;
  }
}

.InvoiceTableLegend{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &-item{
    margin-right: 16px;
  }
}
.InvoiceTableFilter{
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--snColorBorder);
}
