$asideWidth: 220px;
$asideSmallWidth: 64px;
$headerHeight: 56px;

// General Styles
.AdminLayout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "layoutHeader"
                        "layoutMain"
                        "layoutAside";
  @include from(l){
    grid-template-columns: 220px 1fr;
    grid-template-areas: "layoutAside layoutHeader"
                          "layoutAside layoutMain";
  }
  &-header{
    line-height: $headerHeight;
    grid-area: layoutHeader;
  }
  &-main{
    height: calc(100vh - #{$headerHeight + 1});
    overflow-y: auto;
    grid-area: layoutMain;
  }
  &-aside{
    @include to(l){
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 110;
      width: 100%;
    }
    height: 100vh;
    grid-area: layoutAside;
    i{
      line-height: inherit;
    }
  }
  &.AsideMenu-is-show{
    @include to(l){
      .AdminLayout-aside{
        left: 0;
      }
    }
  }
}

// Layout 1
.SnAdminL1{
  @include from(l){
    grid-template-columns: $asideWidth 1fr;
  }
  &.AsideMenu-is-show{
    @include from(l){
      grid-template-columns: $asideSmallWidth 1fr;
    }
  }
}

// Layout 2
.SnAdminL2{
  @include from(l){
    grid-template-columns: $asideSmallWidth 1fr;
  }
  &.AsideMenu-is-show{
    @include from(l){
      grid-template-columns: $asideWidth 1fr;
    }
  }
}

.SnContent{
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include from(l){
    padding: 1rem;
  }
}

.SnContentAside{
  display: grid;
  grid-template-columns: 1fr;
  @include from(l){
    grid-template-columns: 1fr 2fr;
  }
  height: calc(100vh - 60px);
  padding: 1rem;
  grid-gap: 1rem;
}