@mixin SnDivider(){
  .#{$classPrefix}Divider{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    &-innerText {
      display: inline-block;
      padding: 0 10px;
      font-weight: 500;
    }
    &::after,
    &::before{
      top: 0;
      position: relative;
      border-top: 1px solid #e8e8e8;
      content: '';
      flex: 1 1 auto;
    }
    &.textLeft{
      &::before{
        width: 5%;
        flex: inherit;
      }
    }
    &.textRight{
      &::after{
        width: 5%;
        flex: inherit;
      }
    }
  }
}