@mixin SnMargin {
    $spacer: .25rem;
    @for $i from 2 through 5 {
        .#{$classPrefix}Mt-#{$i}{
            margin-top: $spacer * $i;
        }
        .#{$classPrefix}Mr-#{$i}{
            margin-right: $spacer * $i;
        }
        .#{$classPrefix}Mb-#{$i}{
            margin-bottom: $spacer * $i;
        }
        .#{$classPrefix}Ml-#{$i}{
            margin-left: $spacer * $i;
        }
    }
}