@mixin SnSwitch() {
  $SnSwitchPadding: 3;
  $SnSwitchWidth: 36px;
  $SnSwitchSpaceRight: 11px;

  $SnSwitchHeight: $SnSwitchWidth / 2;
  $SnSwitchCircleWidth: $SnSwitchHeight - ($SnSwitchPadding * 2);
  $SnSwitchCircleHeight: $SnSwitchHeight - ($SnSwitchPadding * 2);
  $SnSwitchSpace: $SnSwitchWidth + $SnSwitchSpaceRight;

  .#{$classPrefix}Switch{
    padding-left: $SnSwitchSpace;
  }
  .#{$classPrefix}Switch-input {
    display: none;
    + .#{$classPrefix}Switch-label {
      cursor: pointer;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        display: block;
        border-radius: $SnSwitchHeight / 2;
        width: $SnSwitchWidth;
        left: -#{$SnSwitchSpace};
        top: 0;
        height: $SnSwitchHeight;
        border: 1px solid var(--snColorTextAlt);
      }
      &::after {
        background: var(--snColorTextAlt);
        position: absolute;
        top: #{$SnSwitchPadding}px;
        display: block;
        content: "";
        width: $SnSwitchCircleWidth;
        height: $SnSwitchCircleHeight;
        border-radius: $SnSwitchCircleHeight / 2;
        left: -#{$SnSwitchSpace - $SnSwitchPadding};
        transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
      }
    }
  
    &:checked + .#{$classPrefix}Switch-label {
      &:after{
        left: -#{$SnSwitchSpaceRight + $SnSwitchCircleWidth + $SnSwitchPadding};
        background: var(--snColor1);
      }
      &:before{
        border-color: var(--snColor1);
      }
    }
  }
}
