@mixin SnTab {
    .#{$classPrefix}Tab {
      &-header {
        margin: 0 0 16px 0;
        border-bottom: 1px solid var(--snColorBorder);
      }
    
      &-title {
        display: inline-block;
        padding: 12px 16px;
        cursor: pointer;
        margin: 0 32px 0 0;
        &:last-child {
          margin: 0;
        }
        &:hover {
          color: var(--snColor1);
        }
        &.is-active {
          box-shadow: 0 2px var(--snColor1);
        }
      }
    }
    
    .#{$classPrefix}Tab-content {
        display: none;
        &.is-active {
            display: block;
        }
    }
}

