.SnToolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0.8rem 0;
  @include to(l){
    padding: 0 1rem;
  }
  @include to(m){
    flex-direction: column;
  }
  &-left{
    @include to(m){
      margin-bottom: 16px;
    }
  }
  &-right{
    @include to(m){
      margin-bottom: 8px;
    }
  }
}