@import "sedna/sedna";
@import "_postConfig";

// Base
@include SnBase();
@import "_base";

// Components
@include SnMenu();
@include SnBtn();
@include SnAlert();
@include SnCard();
@include SnForm();
@include SnControl();
@include SnAvatar();
@include SnGrid();
@include SnLoading();
@include SnMargin();
@include SnModal();
@include SnMessage();
@include SnPagination();
@include SnTable();
@include SnSwitch();
@include SnTooltip();
@include SnTab();
@include SnContainer();
@include SnCollapse();
@include SnDivider();
@include SnHide();

@import "company/Layout";
@import "company/Header";
@import "company/HeaderMenu";
@import "company/AsideMenu";
@import "company/SnToolbar";

@import "company/InfiniteScroll";
@import "company/CustomerRow";

@import "company/dashboard";
@import "company/User";
@import "company/Invoice";

.SnTag{
  font-size: .8rem;
  line-height: 1rem;
  height: 1rem;
  padding: 0 .3rem;
  display: block;
  border-radius: .2em;
  &.primary{
    background: var(--snColor1);
    color: var(--snColor1Inverse);
  }
  &.success{
    background: var(--snSuccess);
    color: var(--snSuccessInverse);
  }
}

.SnDoc{
  &-left{
    @include from(l){
      & > *{
        position: fixed;
        //z-index: 1;
      }
    }
  }
  &-right{
    @include from(l){
      width: calc(100vw - 412px);
      max-width: 100%;
    }
  }
  &-titles{
    @extend %snList;
    a{
      text-decoration: none;
      display: block;
      color: var(--snColorText);
      padding: .5rem 1rem;
      &:hover{
        background: var(--snColorHover);
      }
    }
  }

  grid-template-columns: 1fr;
  display: grid;
  height: calc(100vh - 60px);
  grid-gap: 16px;
  @include  from(l){
    grid-template-columns: 1fr 280px;
  }
}

.SnLiveList{
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--snColorBorder);
  border-top: none;
  background: var(--snColorBgAlt);
  z-index: 100000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  &-item{
    border-bottom: 1px solid var(--snColorBorder);
    padding: 8px 15px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    &:last-child{
      border-bottom: 0;
    }
  }
}