@import "../node_modules/sedna/bin/sedna";
@import "_postConfig";

// Base
@include SnBase();
@import "_base";

// Components
@include SnMenu(s,'.HeaderMenu');
@include SnBtn();
@include SnAlert();
@include SnCard();
@include SnForm();
@include SnControl();
@include SnAvatar();
@include SnGrid();
@include SnLoading();
@include SnMargin();
@include SnModal();
@include SnMessage();
@include SnPagination();
@include SnTable();
@include SnSwitch();
@include SnTooltip();
@include SnTab();
@include SnContainer();
@include SnCollapse();
//@include SnDivider();
@include SnFreeze();
@include SnEmpty();
@include SnPadding();

@import "adminLayout/Layout";
@import "adminLayout/Header";
@import "adminLayout/HeaderMenu";
@import "adminLayout/AsideMenu";
@import "adminLayout/SnToolbar";

@import "company/InfiniteScroll";
@import "company/CustomerRow";

@import "company/dashboard";
@import "company/User";
@import "company/Invoice";

.SnLiveList {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--snColorBorder);
  border-top: none;
  background: var(--snColorBgAlt);
  z-index: 100000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
  &-item {
    border-bottom: 1px solid var(--snColorBorder);
    padding: 8px 15px;
    font-size: 14px;
    line-height: 20px;
    &:last-child {
      border-bottom: 0;
    }
    &:hover{
      cursor: pointer;
      background: var(--snColor1);
      color: var(--snColor1Inverse);
    }
    &.alert{
      font-style: italic;
      color: var(--snColorTextAlt);
    }
  }
}

.SnDropdown{
  position: relative;
  outline: none;
  display: inline-block;
  // &-toggle{
  //   width: 100%;
  // }
  &-list{
    @extend %snList;
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    z-index: 2;
    background: var(--snColorBgAlt);
    padding: 4px 0;
    text-align: left;
    background-clip: padding-box;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    display: none;
    min-width: 200px;
    &.show{
      display: block;
    }
  }
  &-item{
    margin: 0;
    padding: 5px 12px;
    font-weight: normal;
    line-height: 22px;
    // white-space: nowrap;
    cursor: pointer;
    // transition: all 0.3s;
    &:hover{
      background: var(--snColorHover);
    }
  }
  &-item,
  &-item a{
    text-decoration: none;
    color: var(--snColorText);
  }
}

.SnHide{
  display: none;
}

.Result{
  display: flex;
  flex-direction: column;
  align-items: center;
}
