.Slide {
    // background: linear-gradient(-60deg, 
    //                             var(--snColor1Dark) 0%,
    //                             var(--snColor1) 20%, var(--snColor1Dark) 20%, 
    //                             var(--snColor1) 40%, var(--snColor1Dark) 40%,
    //                             var(--snColor1) 60%, var(--snColor1Dark) 60%,
    //                             var(--snColor1) 80%, var(--snColor1Dark) 80%,
    //                             var(--snColor1) 100%, var(--snColor1Dark) 100%
    //                         );
    background: linear-gradient(-60deg, var(--snColor1Darker), var(--snColor1) );
    color: var(--snColorDarkInverse);
    position: relative;
    padding: 4rem 0 0;
    text-align: center;
    &-bg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.25;
    }
    &-title {
        color: white;
        font-size: 3rem;
        font-weight: lighter;
        margin: auto;
    }
    &-data{
        // max-width: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        position: relative;
        z-index: 5;
    }
    &-text{
        color: white;
        margin: auto;
    }
    &-app{
        max-width: 90%;
        @include from(l){
            max-width: 850px;
        }
    }
    &-action{
        padding: 2rem 0;
    }
}