%snContainer{
    margin-right: auto;
    margin-left: auto;
    max-width: $maxWidth;
    @media screen and (max-width: $maxWidth - 1px){
        width: calc(100% - 2rem);
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

%snList{
    list-style: none;
    padding: 0;
    margin: 0;
}